{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/l-base.css' %}?v={{ timestamp }}">
    {% block extra_css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <footer>
        <div class="footer-left">
            <p class="footer-title">Our Socials</p>
            <div class="contact-item" data-url="https://www.linkedin.com/in/david-akaluzia-14547336a" onclick="redirectToUrl(this)">
                <img src="{% static 'images/linkedin-icon.png' %}" alt="LinkedIn icon">
                <span>LinkedIn</span>
            </div>
            <div class="contact-item">
                <img src="{% static 'images/facebook-icon.png' %}" alt="Facebook icon">
                <span>Facebook</span>
            </div>

            <div class="footer-end attribution">
                <span class="public-docs">Privacy Policy</span> · <span class="public-docs">Terms of Service</span> · <span class="public-docs" data-url="https://t.me/occupythemind_pubot" onclick="redirectToUrl(this)">Contact US</span><br>
                <span class="copyright">© 2025 OTM</span> <span><a href="https://www.freepik.com" title="Freepik">Icons, Images by Freepik</a></span>
            </div>
        </div>
    </footer>
</body>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block extra_js %}{% endblock %}

</html>
