{% extends 'learning_logs/base.html' %}
{% block content %}
  {% include 'learning_logs/includes/navbar.html' %}
  <h3 id="topic-header"></h3>
  <p id="entry-card"></p>

{% endblock content %}
{% block extra_js %}
<script>
  async function main() {
    const entry_pk = get_pk_fromurlend();
    const topic_pk = await getApiObjectData({ endpoint: '/api/entry/', pk: entry_pk, key: 'topic' });
    const topic_header = document.getElementById("topic-header");
    const entry_body = document.getElementById("entry-card");
    const pageTeller = document.getElementById('page-teller');
    const TopicspanEl = document.createElement('span');
    const EntryspanEl = document.createElement('span');
    const topic_api = '/api/topics/';
    const entry_api = '/api/entry/';
    const interval_tocopy = 5 * 1000; // 5 secs
    const interval_tosend = 15 * 1000; // 15 secs

    fillContent({
      entry_endpoint: entry_api,
      entry_pk: entry_pk, 
      topic_endpoint: topic_api, 
      topic_pk: topic_pk,
      t_el: topic_header, 
      e_el: entry_body,
      navT_el: TopicspanEl,
      navE_el: EntryspanEl,
      pageTeller: pageTeller
    });

    topic_header.addEventListener('dblclick', () => {
      changeTagName(topic_header, 'textarea');
      const new_topic_header = document.getElementById("topic-header"); // to capture it as textarea
      RetrySendServer({ endpoint: topic_api, method: 'PUT', key: 'topic', pk: topic_pk }); // incase of inconsistencies
      // ...setInterval... to start saving data from here to the localstorage
      const inID_copy = setInterval(() => CopyToLocalStorage(new_topic_header, 'topic'), interval_tocopy);
      // ...setInterval... to start sending data from the localstorage to the server
      const inID_send = setInterval(() => SendReqToServer({ endpoint: topic_api, method: 'PUT', key: 'topic', pk: topic_pk }), interval_tosend);
    });

    entry_body.addEventListener('dblclick', () => {
      changeTagName(entry_body, 'textarea');
      RetrySendServer({ endpoint: entry_api, method: 'PUT', key: 'entry', pk: entry_pk }); // incase of inconsistencies
      const new_entry_body = document.getElementById("entry-card"); // to capture it as textarea
      // ...setInterval... to start saving data from here to the localstorage
      const inID_copy = setInterval(() => CopyToLocalStorage(new_entry_body, 'entry'), interval_tocopy);
      // ...setInterval... to start sending data from the localstorage to the server
      const inID_send = setInterval(() => SendReqToServer({ endpoint: entry_api, method: 'PUT', key: 'entry', pk: entry_pk }), interval_tosend);
    });
  };

  document.addEventListener('DOMContentLoaded', main);
</script>
{% endblock %}
