/* dummy CSS for dummy HTML; used for practice while dev. */

/* BASE: Mobile view */

body {
  font-style: normal;
}

ul {
    list-style-type: square;
    list-style-position: outside;
}

/* Tablets */
@media (min-width: 601px) {
  body {
    font-style: normal;
  }
}

/* Desktops */
@media (min-width: 993px) {
  body {
    font-style: normal;
  }
}